body {
  height: 200px;
  width: 200px;
  overflow: hidden;
}
* {
  transition: 1.5s;
}
*:hover {
  transition: 0s;
}
svg {
  height: 200px;
  width: 200px;
  border-radius: 10%;
  background-color: rgba(210, 247, 255, 0.49);
  -webkit-app-region: drag;
}

@media (prefers-color-scheme: dark) {
  svg {
    background-color: rgba(0, 0, 0, 0.457);
  }
}
